$default-font: "Raleway", sans-serif;
$accent: #FC5A0A;
$text: #272D33;
$drk: #272D33;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1400px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1480px);

$gutter: $grid-gutter-width;

$tablet-width: 992px;
$desktop-width: 1400px;
$mobile-width: 576px;
