.ticker {
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: $drk;
    &--2 {
      & .ticker__wrapper {
        flex-direction: row-reverse;
      }
      & .ticker__item {
        color: $accent;
      }
      & .marquee {
        animation: scroll-reverse 20s linear infinite;
      }
    }
}

.ticker__wrapper {
  display: flex;
  
  overflow: hidden;
  gap: 20px;
}

.ticker__items {
  display: flex;
  flex-shrink: 0;
  gap: 20px;
}

.ticker__item {
  
  color: #fff;
}

.marquee {
  animation: scroll 20s linear infinite;
}

.marquee-2 {
  animation: scroll-reverse 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(100% + 20px));
  }
}

@media(min-width: $tablet-width) {
  .ticker {
    padding: 18px 0;
  }

  .ticker__item {
    font-size: 24px;
    color: #fff;
  }
}