.ticker {
  max-width: 1920px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: $drk;
}

.ticker__wrapper {
  display: flex;
  overflow: hidden;
  gap: 20px;
}

.ticker__items {
  display: flex;
  flex-shrink: 0;
  gap: 20px;
}

.ticker__item {
  color: #fff;
}

.marquee {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@media(min-width: $tablet-width) {
  .ticker {
    padding: 26px 0;
  }
}